.itemnamecss {
    
    color: #535bf2;
}

.individualitem {
    border: 2px solid black; 
    padding: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(40px);
    
}

.individualitem:hover
{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-color: #535bf2;
}

.item-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 6px solid gray;
    justify-items: center;
    

}

.header {
    background-color: #646cff;
    padding: 2px 200px;
    margin: 0;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -25px;
}

.headertitle {
    text-align: center;
}

.itemholder {
    background-color: beige;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 60px; 
    padding: 150px; /*50*/
    justify-items: center;  
    margin: 0;
    box-sizing: border-box;
    
    
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: beige;
    
}

